<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="study.bulletin_board.repository.comment.CommentMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into comment (member_id, post_id, content, comment_date)
        values (#{member.id}, #{post.id}, #{content}, #{commentDate})
    </insert>

    <delete id="deleteByPostId">
        delete from comment
        where post_id = #{post.id}
    </delete>
</mapper>