<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="study.bulletin_board.repository.category.CategoryMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into category (category)
        values (#{category})
    </insert>

    <select id="findAll" resultType="java.lang.String">
        select category
        from category
    </select>

    <select id="findCategory" resultType="study.bulletin_board.domain.Category">
        select category_id as id, category
        from category
        where category = #{category}
    </select>
</mapper>